{% extends "::layout.html.twig" %} {% block body %}

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">CodeCraft</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="#hackathon">Hackathon</a></li>
				<li><a href="#about">Qui sommes-nous ?</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="container">

	<div class="page-header">
		<h1>CodeCraft</h1>
		<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing
			elit. Donec odio nunc, ultricies vel nisi vel, posuere pulvinar
			massa. Donec vel consequat eros. Aliquam erat volutpat. Aliquam
			ullamcorper nisi sed risus rhoncus, id posuere erat lobortis. Morbi
			ac odio condimentum, mattis nisi id, facilisis lacus. Curabitur
			adipiscing neque pretium ligula molestie, ac posuere justo blandit.
			Curabitur rutrum risus vel dui scelerisque, sed lacinia elit
			tincidunt. Ut convallis dictum diam, sit amet vulputate lorem
			interdum eget. Aenean sagittis risus mi, id sollicitudin nisl semper
			sed. In erat leo, elementum tempus eros sed, tincidunt aliquet
			ligula. Praesent mattis mauris non tempor tristique.</p>
	</div>

	<div id="hackathon">
		<h2>Hackathon</h2>
		<p>Maecenas faucibus, nisl rutrum volutpat gravida, dolor ligula
			rutrum lorem, in pretium sapien ipsum id sem. Integer id porta ipsum.
			Proin magna nisi, porta eget dui quis, mollis vehicula lorem.
			Praesent volutpat lorem id sodales interdum. Cras massa lectus,
			malesuada in molestie ac, fringilla vel tellus. Praesent tempor
			dictum iaculis. Duis neque massa, imperdiet quis eros nec, dignissim
			mollis nunc. Vestibulum fringilla hendrerit feugiat. Integer rutrum
			tincidunt neque at ullamcorper. Nunc ut iaculis ipsum. Praesent a
			vulputate ante. Sed lobortis ultrices neque nec porttitor. In eget
			rutrum urna. Aenean adipiscing elit sit amet dui sagittis imperdiet.</p>
		<a>Inscription</a>
	</div>
	<hr>

	<div id="about">
		<h2>Qui sommes-nous ?</h2>
		<p>Proin placerat tempus dolor sed feugiat. Proin ipsum nunc,
			tincidunt eu tempor vestibulum, tempus pellentesque mauris. Cum
			sociis natoque penatibus et magnis dis parturient montes, nascetur
			ridiculus mus. Morbi volutpat dictum egestas. Donec malesuada rutrum
			orci a interdum. In suscipit suscipit erat vel interdum. Vestibulum
			scelerisque quam eget purus posuere, nec porttitor elit pharetra.
			Aliquam nibh eros, elementum eu enim at, euismod gravida odio.
			Quisque pulvinar blandit leo at suscipit. Duis a cursus orci. Etiam
			non magna dapibus, pulvinar augue ac, aliquam felis.</p>
	</div>
	<hr>

	<div id="contact">
		<h2>Contact</h2>
		<p>Formulaire de contact</p>
	</div>
	<hr>

</div>
{% endblock body %}
